/*Core styles*/
/* Mobile */
@media only screen and (min-width: 0em) {
  :root {
    --primary: #d3f3ef;
    --secondary: #196b64;
    --bodyText: #fcfcfc;
  }
  /* cormorant-garamond-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cormorant-garamond-v16-latin-regular.eot");
    src: url("../fonts/cormorant-garamond-v16-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/cormorant-garamond-v16-latin-regular.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* cormorant-garamond-500 - latin */
  @font-face {
    font-display: swap;
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/cormorant-garamond-v16-latin-500.eot");
    src: url("../fonts/cormorant-garamond-v16-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-500.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/cormorant-garamond-v16-latin-500.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* cormorant-garamond-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/cormorant-garamond-v16-latin-600.eot");
    src: url("../fonts/cormorant-garamond-v16-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-600.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/cormorant-garamond-v16-latin-600.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* cormorant-garamond-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cormorant-garamond-v16-latin-700.eot");
    src: url("../fonts/cormorant-garamond-v16-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/cormorant-garamond-v16-latin-700.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* hind-guntur-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "Hind Guntur";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/hind-guntur-v13-latin-regular.eot");
    src: url("../fonts/hind-guntur-v13-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/hind-guntur-v13-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/hind-guntur-v13-latin-regular.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* hind-guntur-500 - latin */
  @font-face {
    font-display: swap;
    font-family: "Hind Guntur";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/hind-guntur-v13-latin-500.eot");
    src: url("../fonts/hind-guntur-v13-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/hind-guntur-v13-latin-500.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/hind-guntur-v13-latin-500.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* hind-guntur-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "Hind Guntur";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/hind-guntur-v13-latin-600.eot");
    src: url("../fonts/hind-guntur-v13-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/hind-guntur-v13-latin-600.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/hind-guntur-v13-latin-600.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* hind-guntur-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "Hind Guntur";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/hind-guntur-v13-latin-700.eot");
    src: url("../fonts/hind-guntur-v13-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/hind-guntur-v13-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/hind-guntur-v13-latin-700.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* hind-madurai-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/hind-madurai-v11-latin-regular.eot");
    src: url("../fonts/hind-madurai-v11-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/hind-madurai-v11-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/hind-madurai-v11-latin-regular.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* hind-madurai-500 - latin */
  @font-face {
    font-display: swap;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/hind-madurai-v11-latin-500.eot");
    src: url("../fonts/hind-madurai-v11-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/hind-madurai-v11-latin-500.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/hind-madurai-v11-latin-500.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  /* hind-madurai-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/hind-madurai-v11-latin-600.eot");
    src: url("../fonts/hind-madurai-v11-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/hind-madurai-v11-latin-600.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/hind-madurai-v11-latin-600.woff") format("woff");
    
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    /* IE9 Compat Modes */
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: var(--bodyText);
    overflow-x: hidden;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .container {
    position: relative;
    width: 92%;
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: #1a1a1a;
  }
  button:hover {
    cursor: pointer;
  }
  .button-solid {
    font-family: Hind Guntur;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: auto;
    max-width: 25.625em;
    line-height: 1.875em;
    height: 4.5em;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1.3125em 2.8125em;
    position: relative;
    z-index: 1;
    background-color: var(--primary);
    color: #000;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .button-solid:hover {
    color: #fff;
  }
  .button-solid:hover:before {
    width: 100%;
  }
  .button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--secondary);
    width: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
  }
}
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
/*---------!HEAD-LOGO--------*/
/*--mobile----*/
@media only screen and (min-width: 0em) {
  #head-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 80em;
    padding-bottom: 3em;
  }
  .middle-head .address {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 0.625em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    gap: 2em;
    font-family: hind guntur;
    font-weight: 500;
    width: 100%;
    line-height: 0.0625em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2em;
  }
  .middle-head .address:hover a {
    text-decoration: underline;
  }
  .middle-head .address a {
    color: #000;
    text-decoration: none;
  }
  .middle-head .button-solid {
    text-wrap: nowrap;
    min-width: 10.625em;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    margin-left: 0.58823529em;
    margin-right: 0.58823529em;
  }
  .middle-head .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-head .logo .title-logo {
    width: 12.8125em;
    height: 6.375em;
  }
  .middle-head .contact-button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .middle-head .phone-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  head {
    background-color: var(--secondary);
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
/* Inbetween */
@media only screen and (min-width: 666px) {
  .middle-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .middle-head .address {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 2em;
    margin-bottom: 0;
  }
  .middle-head .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 33%;
  }
  .middle-head .contact-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .middle-head .phone-button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .middle-head .button-solid {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}
/* Small Desktop */
@media only screen and (min-width: 1023px) {
  #head-logo {
    padding-bottom: 1em;
  }
  #head-logo .middle-head .address {
    font-size: 0.75em;
    padding-bottom: 2em;
  }
  #head-logo .middle-head .logo {
    padding-top: 1.5em;
  }
  #head-logo .middle-head .logo .title-logo {
    width: 18.3125em;
    height: 9.125em;
  }
  .button-solid {
    font-size: 0.625em;
  }
}
/*---------!NAV-BAR---------*/
/* Mobile - Side Pop Out */
@media only screen and (max-width: 1023px) {
  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: auto;
  }
  #navigation .container {
    padding: 0.8125em 0;
    width: 96%;
  }
  #navigation .hamburger-menu {
    position: absolute;
    right: 0.125em;
    border: none;
    height: 3em;
    width: 3em;
    z-index: 100;
    display: block;
    background: var(--primary);
    padding: 0;
    top: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    border-radius: 25px;
  }
  #navigation .hamburger-menu span {
    height: 2px;
    width: 1.875em;
    background-color: #000;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  #navigation .hamburger-menu span:before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    background: #000;
    opacity: 1;
    top: -6px;
    left: 0;
    -webkit-transition: width 0.3s, left 0.3s, top 0.3s, -webkit-transform 0.5s;
    transition: width 0.3s, left 0.3s, top 0.3s, -webkit-transform 0.5s;
    transition: width 0.3s, left 0.3s, top 0.3s, transform 0.5s;
    transition: width 0.3s, left 0.3s, top 0.3s, transform 0.5s, -webkit-transform 0.5s;
  }
  #navigation .hamburger-menu span:after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    background: #000;
    opacity: 1;
    top: 6px;
    left: 0;
    -webkit-transition: width 0.3s, left 0.3s, top 0.3s, -webkit-transform 0.3s;
    transition: width 0.3s, left 0.3s, top 0.3s, -webkit-transform 0.3s;
    transition: width 0.3s, left 0.3s, top 0.3s, transform 0.3s;
    transition: width 0.3s, left 0.3s, top 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  #navigation .hamburger-menu.clicked span {
    background-color: transparent;
  }
  #navigation .hamburger-menu.clicked span:before {
    width: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
    left: 50%;
    top: 50%;
  }
  #navigation .hamburger-menu.clicked span:after {
    width: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(-225deg);
            transform: translate(-50%, -50%) rotate(-225deg);
    left: 50%;
    top: 50%;
  }
  #navigation #navbar-menu {
    position: fixed;
    left: 0;
    padding: 0;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--secondary);
    top: 0;
    padding-top: 0;
    width: 0em;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  #navigation #navbar-menu ul {
    padding: 0;
    -webkit-perspective: 700px;
            perspective: 700px;
    padding-top: 5em;
  }
  #navigation #navbar-menu ul li {
    padding: 0.625em 1.25em;
    list-style: none;
    text-align: right;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    opacity: 0;
    -webkit-transform: translateY(-0.4375em) rotateX(0deg);
            transform: translateY(-0.4375em) rotateX(0deg);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  #navigation #navbar-menu ul li:nth-of-type(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #navigation #navbar-menu ul li:nth-of-type(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  #navigation #navbar-menu ul li:nth-of-type(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  #navigation #navbar-menu ul li:nth-of-type(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  #navigation #navbar-menu ul li:nth-of-type(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  #navigation #navbar-menu ul li:hover {
    background-color: #000;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  #navigation #navbar-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fcfcfc;
    font-size: 1.1875em;
    text-align: center;
    display: inline-block;
    position: relative;
    font-weight: bold;
  }
  #navigation #navbar-menu.open {
    width: 15.625em;
    z-index: -100;
  }
  #navigation #navbar-menu.open ul li {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
}
/* Inbetween */
@media only screen and (min-width: 1023px) {
  html {
    overflow-x: visible;
  }
  #navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 200000;
    background-color: var(--secondary);
    overflow: hidden;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  #navigation .container {
    max-width: 80em;
  }
  #navigation .hamburger-menu {
    display: none;
  }
  #navigation #navbar-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation #navbar-menu ul li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 0.9375em;
    padding: 1.625em;
    height: 100%;
    width: 17em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #navigation #navbar-menu ul li:hover {
    background-color: #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #navigation #navbar-menu ul li a {
    text-decoration: none;
    color: var(--bodyText);
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.375em rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #f0f0f0;
  }
  ::-webkit-scrollbar {
    width: 0.75em;
    background-color: var(--bodyText);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.625em;
    background: var(--secondary);
  }
  #navigation #navbar-menu ul li {
    font-size: 1em;
  }
}
/************************** REACH OUT FORM  **********************/
@media only screen and (min-width: 0em) {
  #reach-out {
    position: relative;
    height: 525px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #reach-out picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 525px;
    width: 100%;
    z-index: -1;
  }
  #reach-out picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #reach-out:before {
    content: "";
    position: absolute;
    display: block;
    height: 525px;
    width: 100%;
    background: #000;
    opacity: 0.55;
    top: 0;
    left: 0;
    z-index: 0;
  }
  #reach-out .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    text-transform: uppercase;
    gap: 1.4375em;
  }
  #reach-out .form-wrapper p {
    font-family: hind madurai;
    z-index: 1;
  }
  #reach-out .form-wrapper h2 {
    font-family: cormorant garamond;
    z-index: 1;
    color: #fff;
    font-size: 2em;
  }
  #reach-out .form-wrapper #contact {
    margin: auto;
    z-index: 1;
  }
  #reach-out .form-wrapper #contact .onerow,
  #reach-out .form-wrapper #contact .tworow,
  #reach-out .form-wrapper #contact .textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625em;
  }
  #reach-out .form-wrapper #contact .onerow .input-group,
  #reach-out .form-wrapper #contact .tworow .input-group,
  #reach-out .form-wrapper #contact .textarea .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #reach-out .form-wrapper #contact .onerow .input-group input[type="text"],
  #reach-out .form-wrapper #contact .tworow .input-group input[type="text"],
  #reach-out .form-wrapper #contact .textarea .input-group input[type="text"],
  #reach-out .form-wrapper #contact .onerow .input-group input[type="email"],
  #reach-out .form-wrapper #contact .tworow .input-group input[type="email"],
  #reach-out .form-wrapper #contact .textarea .input-group input[type="email"],
  #reach-out .form-wrapper #contact .onerow .input-group input[type="tel"],
  #reach-out .form-wrapper #contact .tworow .input-group input[type="tel"],
  #reach-out .form-wrapper #contact .textarea .input-group input[type="tel"],
  #reach-out .form-wrapper #contact .onerow .input-group input[type="url"],
  #reach-out .form-wrapper #contact .tworow .input-group input[type="url"],
  #reach-out .form-wrapper #contact .textarea .input-group input[type="url"],
  #reach-out .form-wrapper #contact .onerow .input-group textarea,
  #reach-out .form-wrapper #contact .tworow .input-group textarea,
  #reach-out .form-wrapper #contact .textarea .input-group textarea {
    margin-bottom: 1.875em;
    font-size: 0.75em;
    height: 4em;
    border: 0.08333333em solid #ffffff;
    background: transparent;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #reach-out .form-wrapper #contact .onerow .input-group input:focus,
  #reach-out .form-wrapper #contact .tworow .input-group input:focus,
  #reach-out .form-wrapper #contact .textarea .input-group input:focus,
  #reach-out .form-wrapper #contact .onerow .input-group #enquiry:focus,
  #reach-out .form-wrapper #contact .tworow .input-group #enquiry:focus,
  #reach-out .form-wrapper #contact .textarea .input-group #enquiry:focus {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.6);
            box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.6);
    color: #fff;
    font-family: hind madurai;
  }
  #reach-out .form-wrapper #contact .onerow .input-group #enquiry,
  #reach-out .form-wrapper #contact .tworow .input-group #enquiry,
  #reach-out .form-wrapper #contact .textarea .input-group #enquiry {
    padding: 1em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0.625em;
  }
  #reach-out .form-wrapper #contact .onerow .input-group ::-webkit-input-placeholder,
  #reach-out .form-wrapper #contact .tworow .input-group ::-webkit-input-placeholder,
  #reach-out .form-wrapper #contact .textarea .input-group ::-webkit-input-placeholder {
    color: #fff;
    font-family: hind madurai;
  }
  #reach-out .form-wrapper #contact .onerow .input-group :-ms-input-placeholder,
  #reach-out .form-wrapper #contact .tworow .input-group :-ms-input-placeholder,
  #reach-out .form-wrapper #contact .textarea .input-group :-ms-input-placeholder {
    color: #fff;
    font-family: hind madurai;
  }
  #reach-out .form-wrapper #contact .onerow .input-group ::-ms-input-placeholder,
  #reach-out .form-wrapper #contact .tworow .input-group ::-ms-input-placeholder,
  #reach-out .form-wrapper #contact .textarea .input-group ::-ms-input-placeholder {
    color: #fff;
    font-family: hind madurai;
  }
  #reach-out .form-wrapper #contact .onerow .input-group ::placeholder,
  #reach-out .form-wrapper #contact .tworow .input-group ::placeholder,
  #reach-out .form-wrapper #contact .textarea .input-group ::placeholder {
    color: #fff;
    font-family: hind madurai;
  }
  #reach-out .form-wrapper #contact .form-submit {
    text-align: center;
  }
  #reach-out .form-wrapper #contact .form-submit .button-solid {
    border: none;
    background-color: #fff;
  }
  #reach-out .form-wrapper #contact .form-submit .button-solid:hover {
    color: #fff;
  }
  #reach-out .form-wrapper #contact .checkbox {
    width: 100%;
    margin-bottom: 1.875em;
    text-align: center;
  }
  #reach-out .form-wrapper #contact .checkbox label {
    text-transform: none;
    font-family: hind madurai;
    font-size: 0.75em;
  }
  #reach-out .form-wrapper #contact .checkbox label a {
    text-decoration: none;
    color: #fff;
  }
  #reach-out .form-wrapper #contact .checkbox label a:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 38em) {
  #reach-out .form-wrapper {
    width: 100%;
  }
  #reach-out .form-wrapper #contact {
    width: 70%;
  }
  #reach-out .form-wrapper #contact .onerow .input-group,
  #reach-out .form-wrapper #contact .tworow .input-group,
  #reach-out .form-wrapper #contact .textarea .input-group {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*------------FOOTER------------*/
@media only screen and (min-width: 0em) {
  #footer .c-logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #d3f3ef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4.125em;
  }
  #footer .logo-wrappers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 1.5em 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
  #footer .f-container {
    padding: 10px;
  }
  #footer .f-container .left-section {
    padding: 10px;
    gap: 5px;
  }
  #footer .f-container .left-section .lists {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
    gap: 40px;
  }
  #footer .f-container .left-section .lists .logo {
    display: none;
  }
  #footer .f-container .left-section .lists ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    color: black;
    list-style-type: none;
  }
  #footer .f-container .left-section .lists ul li h2 {
    font-family: cormorant garamond;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  #footer .f-container .left-section .lists ul li a {
    font-family: hind guntur;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #000;
  }
  #footer .f-container .left-section .lists ul li a:hover {
    text-decoration: underline;
  }
  #footer .right-section {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  #footer .b-info {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .b-info .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  #footer .b-info .address :nth-child(2) {
    padding-bottom: 10px;
  }
  #footer .b-info .address li {
    list-style-type: none;
    text-transform: uppercase;
    text-wrap: nowrap;
  }
  #footer .b-info .address li a {
    color: #000;
    text-decoration: none;
    font-family: hind madurai;
    font-size: 0.5em;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footer .b-info .address li a:hover {
    text-decoration: underline;
  }
  #footer .b-info .credit {
    color: #000;
    font-family: hind guntur;
    font-weight: 100;
    font-size: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.25em;
    text-wrap: nowrap;
  }
}
@media only screen and (min-width: 50em) {
  #footer .logo-wrappers {
    padding: 1.28125em 0;
  }
}
@media only screen and (min-width: 70em) {
  #footer .f-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px;
    height: 90%;
    width: 95%;
  }
  #footer .f-container .left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
  }
  #footer .f-container .left-section .lists {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 85%;
  }
  #footer .f-container .left-section .lists ul {
    gap: 20px;
  }
  #footer .f-container .left-section .lists ul li h2 {
    font-size: 1.25em;
    padding-bottom: 10px;
  }
  #footer .f-container .left-section .lists ul li a {
    font-size: 0.75em;
  }
  #footer .right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    padding: 10px;
  }
  #footer .b-info {
    width: 88%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2.5em;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer .b-info .address {
    float: right;
    padding-right: 15px;
  }
  #footer .b-info .address li a {
    font-size: 0.875em;
    font-weight: 400;
  }
  #footer .b-info .credit {
    font-size: 0.875em;
    padding-left: 1.42857143em;
    gap: 1.07142857em;
  }
}
