/**************modified hero header****************/
#hero {
  padding-bottom: 9.375em;
  padding-top: 7.5em;
}
#hero h1 {
  max-width: 15em;
}
#hero h5 {
  text-transform: uppercase;
}
#hero .hero-slidey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 12s infinite;
          animation: slide 12s infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#hero .hero-slidey .firstsld {
  left: 0;
}
#hero .hero-slidey .secondsld {
  left: 100%;
}
#hero .hero-slidey .thirdsld {
  left: 200%;
}
#hero .hero-slidey picture {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#hero .hero-slidey picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#hero .hero-slidey picture:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.45;
  top: 0;
  left: 0;
  z-index: 1;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33.33% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  36.67% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66.67% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  70% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33.33% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  36.67% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66.67% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  70% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
/**************FIRST SECTION TEETH WHITENING****************/
:root {
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 0.9rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(2.5rem, 7.82vw, 6.25rem) 1rem;
}
*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}
.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2201 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-2201 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2201 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 36.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
    border-radius: 15px;
  }
  #sbs-2201 .cs-title {
    max-width: 30ch;
    color: #000;
    font-family: cormorant garamond;
  }
  #sbs-2201 .cs-text {
    margin-bottom: 1.5rem;
    color: #000;
    font-family: hind guntur;
  }
  #sbs-2201 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.3vw, .75rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 39.375em;
    height: 39.1875em;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    /* prevents flexbox from squishing it */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  #sbs-2201 .cs-picture {
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #sbs-2201 .cs-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-2201 .cs-picture1 {
    width: 38.1875em;
    height: 31.1875em;
    top: 0;
    left: 0;
    background-color: #daedeb;
    z-index: -1;
  }
  #sbs-2201 .cs-picture2 {
    width: 23.75em;
    height: 35.0625em;
    right: 0;
    bottom: 0;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    border-radius: 15px;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2201 .cs-container {
    max-width: 80rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2201 .cs-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
  }
  #sbs-2201 .cs-content {
    text-align: left;
    padding: 2.5rem 3rem 0 7.5rem;
    -ms-flex-item-align: first baseline;
        align-self: first baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -4.375rem;
    background-color: #e3e3e3;
  }
  #sbs-2201 .cs-image-group {
    font-size: min(1.3vw, 1rem);
    height: auto;
    min-height: 39.1875em;
  }
  #sbs-2201 .cs-picture1 {
    height: 74.960128%;
    top: 4%;
  }
  #sbs-2201 .cs-picture2 {
    height: 81.339719%;
  }
}
/**********************SECOND SECTION**********************/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2202 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: #000;
  }
  #sbs-2202 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2202 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 36.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
    border-radius: 15px;
  }
  #sbs-2202 .cs-title {
    max-width: 30ch;
    font-family: cormorant garamond;
  }
  #sbs-2202 .cs-text {
    margin-bottom: 1.5rem;
    font-family: hind guntur;
  }
  #sbs-2202 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.3vw, .75rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 39.375em;
    height: 39.1875em;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    /* prevents flexbox from squishing it */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  #sbs-2202 .cs-picture {
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #sbs-2202 .cs-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-2202 .cs-picture1 {
    width: 38.1875em;
    height: 31.1875em;
    bottom: 0;
    right: 0;
    background-color: #daedeb;
    z-index: -1;
  }
  #sbs-2202 .cs-picture2 {
    width: 23.75em;
    height: 35.0625em;
    left: 10%;
    top: 10%;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    border-radius: 15px;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2202 .cs-container {
    max-width: 80rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2202 .cs-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
  }
  #sbs-2202 .cs-content {
    text-align: left;
    padding: 3rem 4.375rem 0.5rem 3.125rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: -21.8rem;
    max-width: 52.375rem;
    background-color: #94cfc9;
  }
  #sbs-2202 .cs-content .cs-text,
  #sbs-2202 .cs-content .cs-title {
    max-width: 35.25rem;
    margin-left: -2.375rem;
  }
  #sbs-2202 .cs-image-group {
    font-size: min(1.3vw, 1rem);
    height: auto;
    min-height: 39.1875em;
  }
  #sbs-2202 .cs-picture1 {
    height: 74.960128%;
  }
  #sbs-2202 .cs-picture2 {
    width: 47.34%;
    left: auto;
    right: 10%;
  }
}
/**************************THIRD SECTION************************/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #rtsbs-459 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #rtsbs-459 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #rtsbs-459 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 36.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
    border-radius: 15px;
  }
  #rtsbs-459 .cs-title {
    max-width: 30ch;
    color: #000;
    font-family: cormorant garamond;
  }
  #rtsbs-459 .cs-text {
    margin-bottom: 1.5rem;
    color: #000;
    font-family: hind guntur;
  }
  #rtsbs-459 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.3vw, 0.8rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 37.5em;
    height: 31.25em;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    /* prevents flexbox from squishing it */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  #rtsbs-459 .cs-image-group .cs-picture {
    overflow: hidden;
    display: block;
    position: absolute;
    width: 37.5em;
    height: 31.1875em;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
  }
  #rtsbs-459 .cs-image-group .cs-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #rtsbs-459 .cs-container {
    max-width: 80rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #rtsbs-459 .cs-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
    overflow: visible;
  }
  #rtsbs-459 .cs-container:before {
    content: "";
    position: absolute;
    display: block;
    height: 60%;
    width: 100%;
    background: #daedeb;
    -webkit-transform: translateY(7%);
            transform: translateY(7%);
    left: 0;
    z-index: -100;
  }
  #rtsbs-459 .cs-content {
    text-align: left;
    padding: 2.5rem 5rem;
    -ms-flex-item-align: first baseline;
        align-self: first baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -5.625rem;
    background-color: #e3e3e3;
  }
  #rtsbs-459 .cs-image-group {
    font-size: min(1.3vw, 1rem);
    height: auto;
    min-height: 39.1875em;
  }
  #rtsbs-459 .cs-image-group .cs-picture {
    height: 60%;
    bottom: 10%;
    top: auto;
  }
}
/*************************FOURTH SECTION***********************/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #rtsbs-462 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #rtsbs-462 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 48px - 64px */
    gap: clamp(1rem, 6vw, 4rem);
  }
  #rtsbs-462 .cs-container .cs-block {
    background-color: #94cfc9;
    padding: 50px 0px;
  }
  #rtsbs-462 .cs-container .cs-block .cs-title {
    max-width: 30ch;
    color: #000;
    font-family: cormorant garamond;
  }
  #rtsbs-462 .cs-container .cs-content {
    padding: 25px;
  }
  #rtsbs-462 .cs-container .cs-content img {
    display: none;
  }
  #rtsbs-462 .cs-container .cs-content,
  #rtsbs-462 .cs-container .cs-block {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 36.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #rtsbs-462 .cs-container .cs-content .cs-text,
  #rtsbs-462 .cs-container .cs-block .cs-text {
    margin-bottom: 1.5rem;
    color: #000;
    font-family: hind guntur;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #rtsbs-462 .cs-container {
    max-width: 80rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #rtsbs-462 {
    padding-left: 0;
    padding-right: 0;
  }
  #rtsbs-462 .cs-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
    overflow: visible;
  }
  #rtsbs-462 .cs-container .cs-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 0;
  }
  #rtsbs-462 .cs-container .cs-content {
    text-align: left;
    padding: 15rem 5rem 0rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10001;
  }
  #rtsbs-462 .cs-container .cs-content img {
    display: block;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    width: 25%;
    max-width: 21.125rem;
  }
  #rtsbs-462 .cs-container .cs-content .cs-text {
    margin-bottom: 0;
  }
}
