:root {
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(2.5rem, 7.82vw, 6.25rem) 1rem;
}


/*************************     FAQ's    ************************************/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #faqs {
    .faqwrapper {
      padding: clamp(2.5rem, 7.82vw, 4.25rem) 1rem;
      width: 95%;
      margin: auto;
      .accordion {
        background-color: #d3fdef;
        color: #000;
        cursor: pointer;
        padding: 18/16em;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 16/16em;
        transition: 0.4s;
        font-family: hind guntur;
        font-weight: 600;
        gap: 10px;

        &:hover {
          background-color: #ccc;
        }

        &:after {
          content: "\002B";
          color: var(--secondary);
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }
      }

      h1 {
        max-width: 30ch;
        font-family: cormorant garamond;
        font-size: clamp(1.5em, 3vw, 2em);
        text-align: center;
        justify-content: center;
        margin: auto;
        padding-bottom: 32/16em;
        text-transform: uppercase;
      }

      .panel {
    margin: 15px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: #000;
        .leftcolumn, .rightcolumn {
          display: flex;
          flex-direction:column;
        }
        .leftcolumn{
          float: left;
          
        }
        .rightcolumn{
         float: right;
        }
      }

      .active {
        &:after {
          content: "\2212";
        }
      }
    }
  }
}

/* tablet */
@media only screen and (min-width: 48rem) {
  #faqs {
    background-image: url("/images/maidenbower-watermark.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 21% auto;
    .faqwrapper {
      width: 60%;
    }
  }
}

   
/****************************** DENPLAN ********************/

@media only screen and (min-width: 0em){
  #denplan {
  background-color: #DAEDEB;
  .pricewrapper {
    padding: clamp(2.5rem, 7.82vw, 4.25rem) 1rem;
     width: 95%;
      margin: auto;

      h1 {
        max-width: 30ch;
        font-family: cormorant garamond;
        font-size: clamp(1.5em, 3vw, 2em);
        text-align: center;
        justify-content: center;
        margin: auto;
        padding-bottom: 32/16em;
        text-transform: uppercase;
      }

    .banding {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      gap: clamp(25px, 4vw, 100px);
     
      
     
      .onerow,
      .tworow {
        display: flex;
        flex-direction: column; //change to row in larger screen
        justify-content: center;
        gap: clamp(25px, 4vw, 100px);
       
          .light{
          background-color: #196B64;
          opacity: 32%;
        }
         .dark{
          background-color: #79CCBF;
        }
      .infowrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60/16em 56/16em;
        border-radius: 100/16em;
        
        h3, p{
          color: #fcfcfc;
        }
      }
    }
    }

    .faqwrapper {
      margin: 3em auto 0;
    
      .accordion {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        padding: 18/16em;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 16/16em;
        transition: 0.4s;
        font-family: hind guntur;
        font-weight: 600;
        gap: 10px;

        &:hover {
          background-color: #ccc;
        }

        &:after {
          content: "\002B";
          color: var(--secondary);
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }
      }

     
      .panel {
    margin: 15px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: #000;
      }

      .active {
        &:after {
          content: "\2212";
        }
      }
    }
  }
}
}

@media only screen and (min-width:48em){
  #denplan{
    .pricewrapper{
      width: 60%;
      .banding{
        
    
      .onerow,
      .tworow {
        flex-direction: row;
        justify-content: space-around;
      
      }

      .tworow {
        width: clamp(40%, 60%);
      }
      }
    }
  }
}

