#practice-desc{

    background-image: url('/images/maidenbower-watermark.svg');
    background-position: left; /* Position the SVG to the left */
     /* Take up about a quarter of the background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: 25% auto;

    .container{
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    

    .content{
        
        color: #000;
    
            h1{
                font-family: cormorant garamond;
                font-weight: 500;
                font-size:~"min(7vw, 4em)";
            }
    
            p{
                font-family: hind madurai;
                font-size:~"min(1.5vw, 2em)";
             }
    }
   
}