#practice-desc {
  background-image: url("/images/maidenbower-watermark.svg");
  background-position: left; /* Position the SVG to the left */
  /* Take up about a quarter of the background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: 25% auto;

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
  }

  .content {
    color: #000;

    h1 {
      font-family: cormorant garamond;
      font-weight: 500;
      font-size: ~"min(7vw, 4em)";
    }

    p {
      font-family: hind madurai;
      font-size: ~"min(3vw, 1em)";
    }
  }
}

/* Mobile */
@media only screen and (min-width: 0em) {
  #staff-wavey {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.4s ease-in;
    background-image: url("/images/wavesbg.jpg");
    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0.55;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .container {
      width: 80%;
      max-height: 800px;
      height: 95%;
      transform-style: preserve-3d;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;

      input[type="radio"] {
        display: none;
      }

      .player {
        width: 90%;
        max-width: 400px;
        padding: 10px;

        .upper-part {
          position: relative;
          display: flex;
          height: 240px;
          overflow: hidden;

          .info-area {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.4s ease-in;

            .staff-info {
              display: flex;
              height: 240px;
              flex-direction: column;
              justify-content: center;
              text-align: justify;

              h2 {
                color: #fff;
                font-size: 16/16em;
                font-family: cormorant garamond;
                margin: 4px 0px;
              }

              h5 {
                font-size: 8/16em;
                font-family: hind guntur;
                text-transform: uppercase;
                color: #fff;
              }
              p {
                color: #fff;
                font-family: hind madurai;
                font-size: 12/16em;
              }
            }
          }
        }
      }

      /* front */
      #item-1:checked ~ .cards #staff-card-1,
      #item-2:checked ~ .cards #staff-card-2,
      #item-3:checked ~ .cards #staff-card-3,
      #item-4:checked ~ .cards #staff-card-4,
      #item-5:checked ~ .cards #staff-card-5,
      #item-6:checked ~ .cards #staff-card-6,
      #item-7:checked ~ .cards #staff-card-7,
      #item-8:checked ~ .cards #staff-card-8 {
        transform: scale(1) translateX(0%);
        opacity: 1;
        z-index: 1;
        /* Apply box shadow for the active item */
        img {
          box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
        }
      }

      /* next */
      #item-1:checked ~ .cards #staff-card-2,
      #item-2:checked ~ .cards #staff-card-3,
      #item-3:checked ~ .cards #staff-card-4,
      #item-4:checked ~ .cards #staff-card-5,
      #item-5:checked ~ .cards #staff-card-6,
      #item-6:checked ~ .cards #staff-card-7,
      #item-7:checked ~ .cards #staff-card-8,
      #item-8:checked ~ .cards #staff-card-1 {
        transform: scale(0.8) translateX(40%);
        opacity: 0.8;
        z-index: 0;
        filter: grayscale(1);
      }

      /* navigation dots activation */
      #item-1:checked ~ .navi-dots-container #navi-dot-1,
      #item-2:checked ~ .navi-dots-container #navi-dot-2,
      #item-3:checked ~ .navi-dots-container #navi-dot-3,
      #item-4:checked ~ .navi-dots-container #navi-dot-4,
      #item-5:checked ~ .navi-dots-container #navi-dot-5,
      #item-6:checked ~ .navi-dots-container #navi-dot-6,
      #item-7:checked ~ .navi-dots-container #navi-dot-7,
      #item-8:checked ~ .navi-dots-container #navi-dot-8 {
        background-color: #fff; /* Active state */
        scale: 1.25;
        margin: 0px 8px;
        box-shadow: 0 0 5px #fff;
      }

      .cards {
        position: relative;
        width: 200px;
        height: 200px;
        margin-bottom: 15px;

        .card {
          position: absolute;
          width: 60%;
          height: 100%;
          left: 0;
          right: 0;
          margin: auto;
          transition: transform 0.4s ease;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            border-radius: 80px;
            object-fit: cover;
          }
        }
      }

      .break {
        display: none;
      }

      .navi-dots-container {
        display: flex;
        position: relative;
        bottom: 0px;

        /* Navigation Dots Styles */
        .navi-dot {
          display: inline-block;
          width: 4px;
          height: 4px;
          margin: 0 3px;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #808080;
          }

          & + .navi-dot {
            margin-left: 5px;
          }
        }
        /* Active dot - when the corresponding radio is checked */
      }
      #item-1:checked ~ .player #test {
        transform: translateY(0);
      }

      #item-2:checked ~ .player #test {
        transform: translateY(-240px);
      }

      #item-3:checked ~ .player #test {
        transform: translateY(-480px);
      }

      #item-4:checked ~ .player #test {
        transform: translateY(-720px);
      }
      #item-5:checked ~ .player #test {
        transform: translateY(-960px);
      }
      #item-6:checked ~ .player #test {
        transform: translateY(-1200px);
      }
      #item-7:checked ~ .player #test {
        transform: translateY(-1440px);
      }
      #item-8:checked ~ .player #test {
        transform: translateY(-1680px);
      }
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #staff-wavey {
    height: 500px;

    .container {
      width: 100%;
      height: 80%;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      #item-1:checked ~ .player #test {
        transform: translateY(0);
      }

      #item-2:checked ~ .player #test {
        transform: translateY(-280px);
      }

      #item-3:checked ~ .player #test {
        transform: translateY(-560px);
      }

      #item-4:checked ~ .player #test {
        transform: translateY(-840px);
      }
      #item-5:checked ~ .player #test {
        transform: translateY(-1120px);
      }
      #item-6:checked ~ .player #test {
        transform: translateY(-1400px);
      }
      #item-7:checked ~ .player #test {
        transform: translateY(-1680px);
      }
      #item-8:checked ~ .player #test {
        transform: translateY(-1960px);
      }

      .player {
        min-width: 50%;

        .upper-part {
          height: 280px;
          .info-area {
            .staff-info {
              height: 280px;
              gap: 10px;
              h2 {
                font-size: 32/16em;
                line-height: 24/64em;
              }

              h5 {
                font-size: 12/16em;
              }
              p {
                font-size: 16/16em;
              }
            }
          }
        }
      }

      /* next */
      #item-1:checked ~ .cards #staff-card-2,
      #item-2:checked ~ .cards #staff-card-3,
      #item-3:checked ~ .cards #staff-card-4,
      #item-4:checked ~ .cards #staff-card-5,
      #item-5:checked ~ .cards #staff-card-6,
      #item-6:checked ~ .cards #staff-card-7,
      #item-7:checked ~ .cards #staff-card-8,
      #item-8:checked ~ .cards #staff-card-1 {
        transform: scale(0.8) translateX(50%);
        opacity: 0.8;
        z-index: 0;
        filter: grayscale(1);
      }

      .cards {
        width: 300px;
        height: 300px;
      }

      .break {
        display: block;
        min-width: 50%;
        height: 0;
      }

      .navi-dots-container {
        /* Navigation Dots Styles */
        .navi-dot {
          width: 8px;
          height: 8px;
          margin: 0 6px;
        }
      }
    }
  }
}

/* desktop */
@media only screen and (min-width: 60em) {
  #staff-wavey {
    .container {
      max-width: 1400px;

      .player {
        .upper-part {
          .info-area {
            width: 100%;

            .staff-info {
              display: block;

              h2 {
                font-size: 64/16em;
                margin: 32/64em 0;
              }

              h5 {
                font-size: 12/16em;
              }
            }
          }
        }
      }

      .cards {
        position: relative;
        width: 300px;
        height: 300px;

        .card {
          position: absolute;
          width: 60%;
          height: 100%;
          left: 0;
          right: 0;
          margin: auto;
          transition: transform 0.4s ease;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            border-radius: 80px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
