@media only screen and (min-width: 0em) {


    #head-logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .middle-head{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        
        
        .address{
            padding: 16/16em;
            display: flex;
            flex-wrap: wrap;
            font-size: 10/16em;
            justify-content: center;
            text-transform:uppercase;
            gap: 32/16em;
            font-family: hind guntur;
            font-weight: 600;
            width: 100%;
            line-height: 1/16em;
            order: 1;
            margin-bottom: 32/16em;

            &:hover{
                a{
                text-decoration: underline;
                }
            }

            
            a{
                color: #000;
                text-decoration: none;
            }
        }

        .button-solid{
            text-wrap: nowrap;
            min-width: 170/16em;
            flex:1 0 25%;
            margin-left: 100/170em;
            margin-right: 100/170em;
        }

        .logo{
            order: 0;
            padding-top: 32/16em;
            padding-bottom: 32/32em;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .contact-button{
            order:2;
        }

        .phone-button{
            order: 1;
        }

    }

    head{
        background-color: var(--secondary);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }


 
}

/* Inbetween */
@media only screen and (min-width: 666px) {

    .middle-head{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .address{
            order: 0;
            margin-top: 32/16em;
            margin-bottom: 0;
        }

        .logo{
            order: 2;
            width: 33%;
        }

        .contact-button{
            order:1;
        }

        .phone-button{
            order: 3;
        }

        .button-solid{
            flex: 0 0 20%;
        }

    }

}   

/* Small Desktop */
@media only screen and (min-width: 1300px) {
    .middle-head{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .logo{
            order: 1;
        }

        .contact-button{
            order:0;
        }

        .phone-button{
            order: 2
        }

    }

    
}